[Unit]
Description=Watch Chia Farm
After=chia-farmer.service
[Service]
User=chia
Type=simple
ExecStart=/home/chia/farmer/bin/chia_watch.sh
TimeoutStartSec=0
Restart=always
StartLimitInterval=0
[Install]
WantedBy=multi-user.target
